# Production Swarm configuration
services:
    image-generation-admin:
        build:
            target: production
        image: thegobc/image-generation-admin
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.champdavoine.rule=Host(`champdavoine.com`)'
            - 'traefik.http.routers.champdavoine.entrypoints=websecure'
            - 'traefik.http.routers.champdavoine.tls.certresolver=myresolver'
        environment:
            NODE_ENV: production
        secrets:
            - konama_client_openai_api_key
        networks:
            - webnet

secrets:
    konama_client_openai_api_key:
        external: true
        name: konama_client_openai_api_key

networks:
    webnet:
        external: true
