services:
    konama-frontend:
        build:
            context: .
            dockerfile: Dockerfile
            target: production
        environment:
            NODE_ENV: production
            NEXT_PUBLIC_API_URL: https://client.konama.fuzdi.fr
            # Port Configuration
            PORT: 3001
            # ComfyUI API Configuration
            NEXT_PUBLIC_COMFY_API_URL: http://localhost:3000/api
            # Workflow Service API
            NEXT_PUBLIC_WORKFLOW_API_URL: http://localhost:4001
