# Production Swarm configuration
services:
    champdavoine:
        build:
            target: production
        image: thegobc/image-generation-admin
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
        labels:
            - 'traefik.enable=true'
            - 'traefik.https.routers.image-generation-admin.rule=Host(`studio.fuzdi.fr`)'
            - 'traefik.https.routers.image-generation-admin.entrypoints=websecure'
            - 'traefik.https.routers.image-generation-admin.tls.certresolver=myresolver'
        environment:
            NODE_ENV: production
        secrets:
            - konama_client_openai_api_key
        networks:
            - webnet

secrets:
    konama_client_openai_api_key:
        external: true
        name: konama_client_openai_api_key

networks:
    webnet:
        external: true
